@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    font-family: 'Titillium Web', sans-serif;
    background-attachment: fixed;
    color: white;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: #04151F;
    background-image: url('https://freesvg.org/img/Abstract-Pattern-36--Arvin61r58.png');
}

.lock {
    overflow: hidden;
}

.overlay {
    display: flex;
    position: fixed;
    width: 1%;
    height: 1%;
    top: 0.2%;
    right: 14%;
    background-color: black;
    justify-content: center;
    align-items: center;
    opacity: 0;
    z-index: 3;
    transition: 400ms ease-in-out;
}

.overlay-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;
    gap: 5%;
}

.link {
    display: flex;
    text-decoration: none;
    color: #EFD6AC;
    font-size: larger;
    transition: 0.5s;
}

.link:hover{
    color: #93856b;
}

.active.overlay {
    height: 100%;
    width: 72%;
    opacity: 0.95;
}

.active.hamburger-lines {
    z-index: 1001;
}

.layout {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    gap: 2%;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 70%;
    height: 5%;
    top: 1%;
    font-size: 20px;
    background-color: #04151F;
    color: #EFD6AC;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 3px 0px;
    z-index: 2;
}

.sticky {
    top: 0;
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


.logo {
    display: flex;
    width: 20%;
    font-size: 1.5em;
    padding-left: 2%;
}

.logo>span:hover {
    color: #EFD6AC;
}

.name {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    font-weight: bolder;
    width: 20%;
    gap: 5%;
}

.name>h1 {
    font-size: 25px;
}

.navigation {
    display: flex;
    width: 20%;
    height: 100%;
    padding-right: 2%;
    justify-content: space-between;
    align-items: center;
}

.navigation>a {
    color: #EFD6AC;
    text-decoration: none;
    width: 100%;
    text-align: center;
}

.navbar>a {
    color: #EFD6AC;
    text-decoration: none;
}

.navigation>a:hover {
    background-color: #727a94;
    transition: 0.1s;
}

.hamburger-lines {
    display: flex;
    visibility: hidden;
    height: 30px;
    width: 30px;
    top: 17px;
    right: 0;
    z-index: 60;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.2s;
}

.hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    z-index: 70;
    border-radius: 10px;
    background: #FFD6BA;
    box-shadow: 1px 1px 5px 0px #EFD6AC;
}

.hamburger-lines .line1 {
    transform-origin: 0% 0%;
}

.hamburger-lines .line2 {
    transition: 0.1s ease-in-out;
}

.hamburger-lines .line3 {
    transform-origin: 0% 100%;
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2%;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FAF9F9;
    background-color: #04151F;
    width: 100%;
    height: 2%;
    margin: 6%;
    margin-top: 0;
    font-size: 2em;
}

.article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 150vh;
    gap: 1%;
    background-color: #04151F;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0px 0px 10px 0px #464646;
    transition: 0.5s;
}

.article:first-child {
    margin-top: 10%;
}

.article-content {
    display: flex;
    width: 100%;
    height: 90%;
    gap: 2%;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.img-container {
    display: flex;
    background-image: url("https://c8.alamy.com/zooms/9/a28199686fc94dee85a8729051cc001a/2bdxf6h.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 45%;
    height: 85%;
    border-radius: 0.5rem;
}

.intro-text {
    display: flex;
    color: #FAF9F9;
    text-align: center;
    font-size: 1.5em;
    width: 45%;
    height: 85%;
    border-radius: 0.5rem;
    border: solid 1px #EFD6AC;
    overflow-y: scroll;
    overflow-x: hidden;
}

.intro-text::-webkit-scrollbar {
    display: none;
}

.intro-text>p {
    display: flex;
    margin: 5%;
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    background-color: #04151F;
    border-radius: 1rem;
    box-shadow: 0px 0px 10px 0px #573030;
}

.project-container {
    display: grid;
    grid-template-columns: auto auto;
    width: 95%;
    height: 85%;
    gap: 1rem;
}

.project {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: 1rem;
}

.blogs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45%;
    background-color: #04151F;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0px 0px 10px 0px #464646;
}

.blogs>.header{
    margin-top: 6%;
    margin-bottom: 0;
}

.blog-container {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 90%;
    gap: 2%;
    justify-content: center;
}

.blog {
    display: flex;
    width: 100%;
    height: 20%;
    border-radius: 1rem;
    background-color: black;
    align-self: center;
}

.footer {
    display: flex;
    width: 100%;
    align-self: center;
    height: 3%;
    bottom: 0;
    background-color: black;
}

@media screen and (max-width: 1025px) {
    .article-content {
        flex-direction: column;
        height: 80%;
        margin-bottom: 2%;
    }

    .article-content>div {
        width: 90%;
    }

    .article:first-child {
        margin-top: 10vh;
    }

    .img-container {
        background-size: cover;
    }

    .main {
        gap: 1%;
    }

    .project-container {
        grid-template-columns: auto;
    }

    .hamburger-lines {
        visibility: visible;
    }

    .navigation {
        justify-content: right;
    }
}

@media screen and (max-width: 768px) {
    .article:first-child {
        margin-top: 20vh;
    }

    .layout {
        width: 90%;
    }

    .navbar {
        width: 90%;
        height: 7%;
    }

    .active.overlay {
        width: 92%;
        right: 4%;
    }

}

@media screen and (min-width: 768px) {
    .article:first-child {
        margin-top: 15vh;
    }
}

@media screen and (max-width: 480px) {

    .article:first-child {
        margin-top: 15vh;
    }

    .navbar {
        font-size: 15px;
    }

    .name>h1 {
        font-size: 20px;
    }
}

@media screen and (min-width: 1025px) {
    .article:first-child {
        margin-top: 12vh;
    }

    .navigation {
        width: 30%;
    }

    .logo {
        width: 30%;
    }
}